@font-face { font-family: Inter; font-weight: 400; src: url(Inter-Regular.ttf); }
@font-face { font-family: Inter; font-weight: 500; src: url(Inter-SemiBold.ttf); }

body { margin:0; padding: 0; background: rgb(221, 221, 221); font-family: Inter, sans-serif; min-height: 100vh; color: #000; }
header { position: -webkit-sticky; position: sticky; top:0; width: 100%; background: #232935; display: flex; justify-content: space-between; align-items: center; }
@media (max-width: 650px) {
  header { flex-direction: column; }
  #chains { padding-bottom: 10px; }
}
#chains { padding-left: 10px; padding-right: 10px; }
#chains select { background: #686d79; border: 0; padding: 5px; border-radius: 5px; color: #fff; }
#chains button { background: #686d79; padding: 5px; border-radius: 5px; color:#fff; font-size: 90%; }
#chains button:hover { background: #8a8d95; }
#chains button:hover span.account, #chains button span.disconnect { display: none; }
#chains button:hover span.disconnect { display: inline; }
#chains button:active { background: #62646a; }
h1 { margin: 0; padding: 6px 10px; font-weight: 500; font-family: Inter, sans-serif; text-transform:uppercase; cursor: default; background: linear-gradient(90deg, #fae3b7, #edb851); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
h1 .logo { font-size: 100%; margin-right: 10px; }
h1 a { text-decoration: none; color: #000; }
h2 { font-size: 130%; text-align: center; }
a { color: #333; }
button { padding: 15px 20px; background: #edb851; color: #000; border: 0; border-radius: 10px; font-size: 110%; cursor: pointer; }
button.cancel { background: #9d9d9d; }
button:hover { background: #f4cf87; }
button:active { background: #db9d24; }
button:disabled { cursor: default; background: #ccc; color: #999; }

.masthead { background: #232935; }
section { max-width: 720px; padding: 30px 20px; margin: 0 auto; }
.step-intro { }
p.lead { font-weight: bold; }
p.intro { color: #fff; }
#how-it-works { display: flex; padding: 10px 0 10px 10px; }
@media (max-width: 500px) {
  #how-it-works { flex-direction: column; }
  #how-it-works li { padding-bottom: 10px; }
}
#how-it-works li { margin: 0 10px; width: 100%; padding: 10px; }
ul.countries { list-style: none; columns: 3; line-height: 1.2em; padding: 0; text-align: center; }
@media (max-width: 400px) { ul.countries { columns: 2; } }
ul.countries li { padding-bottom: 8px; }

#status .active { margin-top: 30px; padding: 20px; background:#f5f5f5; border-radius: 5px; box-shadow: 1px 1px 2px rgba(0,0,0,0.2); }
#status .lds-ring { display: none; }
#status.loading .active>.commands>button, #status .step.loading .commands>button { display: none; }
#status .loader { text-align: center; padding: 60px 0; }
#status.loading .loader>.lds-ring, #status.loading .active>.commands>.lds-ring, #status .step.loading .commands>.lds-ring { display: inline-block; }
#status .msg { display: block; font-size: 120%; font-weight: bold; text-align: center; margin-bottom: 15px; }
#status dt { float:left; font-weight: bold; }
#status dt:after { content: ": "; padding-right: 10px; }
#status .subtext { display: block; margin-bottom: 15px; }
#status .commands { display: block; margin-bottom: 15px; text-align: center; }
#status .commands button { margin-top: 10px; }
footer { text-align: center; padding: 30px 0; margin-top: 30px; border-top: 1px solid rgba(0,0,0,0.2); }

pre.code, ul.scroll { max-width: 100; overflow:auto; }


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #666;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #666 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

